body{ 
    font-family: 'Roboto', sans-serif;
    margin: 0;

}
a{
    text-decoration: none;
}
header.header-el{
  background-color: rgb(61, 61, 61);
  text-align: center;
  padding: 1rem;
}
.header-el a{
    color: white;
    padding: 15px;
    margin: 10px;
    
}
.header-el a:hover{
    color: #B72436;
}
.header-el img{
    height: 16px;
    width: 13px;
}
.div-1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.a-1{
    padding: 15px;
    margin: 15px;
}
.div-2{
    text-align: center;
    background-color: rgb(41, 41, 41);
}
.h-2{
    color: white;
    margin: auto;
    padding: 1px;
}
.a-4{
    padding: 15px;
    margin: 15px;

}
.p-6{
    color: white;
}
.div-3{
    text-align: center;
    background-color: rgb(41, 41, 41);
}
.a-7 img{
    height: auto;
   max-width: 28px;
 

}
.h-3{
    color: white;
    padding: 1px;
    margin: auto
}
.span-2{
    color: #B72436;
}
.p-10{
    color: white;
}
.a-7{
    padding: 15px;
    margin: 15px;

}
.span-1{
    margin-left: -2.5%;
}

/* text-transform:capitalize: */

