.chk-mode{
    display: none;
}
.chk-mode:checked +.content{
    background-color: black;
    color: white;
}

.btn-mode{
    background-color: blue;
    padding: 15px 8px;
    border-radius: 50%;
    margin-top: 1rem;
    display: inline-block;
    cursor: pointer;

}